@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    border-radius: 20px;
    background: #460D0D;
}

.btn:hover{
    background: #b65959;
}
input::placeholder {
    color: rgba(245, 245, 245, 0.619);
    opacity: 1; /* Firefox */
  }